body {
  font-family: 'Roboto', sans-serif;
}

main {
  padding-left:400px;
  padding-right:50px;
  margin-bottom:100px;
}

aside {
  border-right:1px solid #EEE;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 350px;
  bottom:0px;
  overflow: auto;
  display:block;
  box-sizing: border-box;
}

aside > nav {
  display:block;
  padding:30px;
}

aside ul {
  list-style-type: none;
  counter-reset: item;
}

aside a {
  text-decoration: none;
}

aside > nav > ul > li {
  margin-bottom:20px;
  counter-increment: item;
}

aside > nav > ul > li:before {
  display:inline-block;
  width: 50px;
  content: counters(item, ".") " ";
  font-size: 16px;
  font-weight:bold;
}

aside > nav > ul > li > a {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight:bold;
  display:inline-block;
  margin-bottom:5px;
}

aside a code {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
  color: orangered;
}

aside li li li {
  display: none;
}





aside > nav > ul > li > ul {
  list-style-type: none;
}

aside > nav > ul > li > ul > li {
  counter-increment: item;
}

aside > nav > ul > li > ul > li:before {
  display:inline-block;
  width: 50px;
  content: counters(item, ".") " ";
  font-size: 15px;
}

aside > nav > ul > li > ul > li a {
  font-size: 15px;
  line-height: 22px;
  color: #000;
}



/*aside > nav > ul > li > ul > li > ul > li {
  counter-increment: item;
}*/

/*aside > nav > ul > li > ul > li > ul > li:before {
  display:inline-block;
  width: 50px;
  content: counters(item, ".") " ";
  font-size: 15px;
}

aside > nav > ul > li > ul > li > ul > li a {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}*/



header {
  display:block;
  margin: 30px 0px;
  margin-bottom: 60px;
}

header h1 {
  font-size: 32px;
}

header small {
  margin-top:10px;
  display:block;
  font-size: 16px;
}

/* Spec Details */

.refs dl {
  margin: 45px 0px;
  border-top: 1px solid #EEE;
  padding-top:45px;
}

.refs dt {
  font-weight: normal;
  font-size: 16px;
}

.refs dt:after {
  content: ":";
}

.refs dd {
  margin-top:10px;
  margin-left:20px;
  margin-bottom:20px;
}

.refs dd a {
  display:block;
  line-height: 20px;
  color: #034575;
}
